$header-height: 30px;

#header{
	height: $header-height;
	padding: 30px 0;
    margin-top: 80px;
	margin-bottom: 120px;
	text-align: center;
    font-size: 20px;
	line-height: $header-height;
    
	@media screen and (max-width: 1040px){
		margin-bottom: 0;
		height: auto;
		position: relative;
		padding-bottom: 10px;
	}
	@media screen and (max-width: 600px){
	    margin-bottom: 0;
	    margin-top:10px;
	}
    
	a{
		color: $color-blog-title;
		@include transition(color 0.3s);
		&:hover{
			color: $color-blog-title-h;
		}
	}
    
	h1 {
		margin: 15px 0 25px;
        font-family: $font-blog-title;
		font-weight: 100;
		font-size: 58px;
        letter-spacing: 0.3em;
        padding-left: 0.3em;
		@media screen and (max-width: 1040px){
			float: none;
		}
	}

	ul{
		display: inline-block;
		overflow: hidden;
	}

	li{
		float: left;
		list-style: none;
		margin: 15px 23px 0 23px;
		font-family: $font-blog-subtitle;
		font-weight: 100;
		font-size: 18px;
		@media screen and(max-width: 600px){
			float: none;
		}

		a{
			color: $color-blog-subtitle;
			@include transition(color 0.3s);
			&:hover{
				color: $color-blog-subtitle;
			}
		}
	}
}

