@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700");

$font-blog-title: "微软雅黑";
$font-blog-subtitle: "Lato", "幼圆";
$font-default: "Open Sans", "Hiragino Sans GB", "Helvetica Neue", "微软雅黑", serif;
$font-mono: "Soure Code Pro", "Monaco", "Consolas", "Ubuntu Mono";
