@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700");

$font-blog-title: "微软雅黑";
$font-blog-subtitle: "Lato", "华文细黑";
$font-default: "Open Sans","Hiragino Sans GB","Lucida Grande", "Microsoft JhengHei", "Microsoft YaHei";
$font-mono: "Soure Code Pro", "Monaco", "Consolas", "Ubuntu Mono";
