<script src="{{ root_url }}/javascripts/slash.js"></script>
<script src="{{ root_url }}/javascripts/hyphenator.js"></script>
<!-- 百度统计 -->
<div style="display:none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc792b5bcb2f241d17fdc3ba5f02de155' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>


 
{% include disqus.html %}
{% include google_analytics.html %}
{% include custom/after_footer.html %}
